.main{
    width: 200px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to right, blue, pink);
    cursor: pointer;
    a{
        text-decoration: none;
    }
    p{
        font-size: 20px;
        color:floralwhite;
        margin: 0;
        text-decoration: none;
    }
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(16, 16, 16), rgb(70, 61, 62));
}